body,div,p,ul,li {
    margin:0;
    padding:0;
}
ul {
    list-style-type: none;
}
button,input {
    border:none;
    outline: none;
}
a {
    text-decoration: none;
}
.clearfix {
    display: block;
    content: "";
    clear: both;
}
.clearfix {
    *zoom:1;
}
.wrap {
    width:800px;
    height: 242px;
    margin:0 auto;
    margin-top: 100px;
    border:10px solid #c0c0c0;
}
#left,#mid,#right {
    float:left;
    display: block;
}
#left,#right {
    width:320px;
    height:220px;
    border:1px dashed #000;
}
#left {  
    margin:10px 8px 8px 10px;
}
#left p {
    background-color: #efefd6;
}
#right p {
    background-color: #63eff7;
}
#left p ,#right p {
    width:298px;
    height:206px;
    font-size: 14px;
    line-height: 20px;
    padding:14px 13px 0 9px;
}
#right {
    margin:10px 10px 8px 8px;
}
#mid {
    width: 120px;
    text-align: center;
    margin-top: 10px;
}
#mid a {
    display: block;
    width:120px;
    height:40px;
    line-height: 40px;
    color:#fff;
    background-color: #f76300;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}
#mid a:hover {
    background-color: #c63908;
}
#mid span {
    font-size: 12px;
}
#mid ul {
    margin-left: 20px;
    margin-top:20px;
    display: none;
}
#mid li {
    float: left;
    margin-right: 2px;
    width:8px;
    height:10px;
    background-color: #e7a521;
}
#mid li.active {
    background-color: #ff0000;
}
